ul.tribe-events-sub-nav li:before {
  display: none;
}

.tribe-events-notices {
  background: lighten($brand-light-blue,25%);
  border: 1px solid $brand-blue;
  ul,li {
    color: $brand-blue;
  }
}

.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
  background-color: $brand-teal;
}

.tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title a {
  font-weight: bold;
}

#tribe-events .tribe-events-button,
.tribe-events-button {
  background-color: $brand-yellow;
  color: $brand-blue;
  @include font-size(16);
}

.tribe-events-calendar thead th {
  background-color: $brand-blue;
  border-left: 1px solid $brand-dark-blue;
  border-right: 1px solid $brand-dark-blue;
  color: $brand-yellow;
}

#tribe-bar-form .tribe-bar-submit input[type=submit] {
  @include button( $button-color );
}
