.woocommerce-page,
.woocommerce {

  ul.products {
    margin: 0;
    padding: 0;
  }

  .woocommerce-account-my-teams li:before,
  #ship-to-different-address-checkbox,
  .wppb-user-forms ul li:before,
  .page-content ul.products li:before,
  .entry-content ul.products li:before,
  ul.products li:before,
  .woocommerce-ordering,
  .posted_in,
  .woocommerce-breadcrumb,
  .bundled_product_title_link,
  .product-type-bundle .price .bundled_subscriptions_price_html {
    display: none !important;
  }

  // hide upgrade button
  // .wcs-switch-link {
  //   display: none;
  // }

  .woocommerce-breadcrumb {
    margin-bottom: 1em;
  }

  ul.products li .button {
    display: block;
  }

  ul.products li .woocommerce-placeholder {
    border: 1px solid $brand-light-blue-alt;
  }

  ul.products li .add_to_cart_button {
    margin-top: 1em;
  }

  ul.products li .price {
    @include font-size(13);
  }

  .woocommerce-loop-product__title {
    @include font-size(20);
  }

  .woocommerce-loop-product__link {
    text-decoration: none;
  }

  .product-remove .remove {
    transition: all, .5s;
    background: $color-red;
    color: #fff;
    text-decoration: none;
    padding: .25em .65em;
    border-radius: 100px;
    font-weight: bold;
    &:hover {
      background: lighten($color-red, 10%);
    }
  }

  .shop_table .woocommerce-shipping-totals,
  tr.shipping {
    display: none;
  }

  .shop_table {
    border: 1px solid $brand-gray;
    tr {
      + tr {
        td,
        th {
          border-top: 1px solid $brand-gray;
        }
      }
    }

    td {

      + td {
        border-left: 1px solid $brand-gray;
      }
    }

    thead {
      background: $brand-yellow;
      color: $brand-blue;
    }

  }

  table.cart td.actions .input-text {
    width: 135px;
    margin-right: .5em;
  }

  .woocommerce-checkout {
    margin-top: 3em;
  }

  .woocommerce-checkout-payment {
    margin-top: 3em;
  }

  .wc_payment_methods {
    list-style: none;
    margin: 0;
    padding: 0;

    li input,
    li label {
      display: inline-block;
    }

    li label {
      width: 85%;
    }

    li:before {
      display: none;
    }

  }


  .onsale,
  div.product div.images {
    display: none;
  }

  div.product div.summary {
    max-width: $max-width--small;
    margin: 0 auto;
    float: none;
    @include breakpoint($bp-med) {
      width: 60.25em;
    }
  }

  table.variations {
    border: 1px solid $brand-gray;
    tr {
      + tr {
        td,
        th {
          border-top: 1px solid $brand-gray;
        }
      }
    }

    td {

      + td {
        border-left: 1px solid $brand-gray;
      }
    }

    .reset_variations {
      margin-left: .75em;
    }

    td.label {
      background: $brand-yellow;
      color: $brand-blue;
      font-weight: bold;
    }

    td.value {
      background: $brand-gray;
    }

  }

  .first-payment-date {
    margin-top: 1em;
    color: $brand-blue;
    font-weight: bold;

  }


}

.bundled_product .cart .variations tr:first-child td.label {
  border-radius: 5px 5px 0 0;
}

.variations_form {
  label {
    padding: .25em .75em;
  }

}

.bundle_form table.variations td.value,
.single-product div.product .bundle_form table.variations td.value {
  padding: .75em !important;
}


.product_totals ul {
  @include list-reset();
  li:before {
    display: none;
  }
}

.bundle_price .price {
  text-decoration: none;
  color: #060;
  @include font-size(20);
}

// hide totals from master conference form
#gform_totals_14 {
  display: none;
}


.product_cat-conference-bundle .bundle_price del {
  display: none !important;
}

.product_cat-conference-bundle .bundle_price ins,
 .product_cat-conference-bundle .bundle_price strong {
  text-decoration: none;
  color: #060;
  margin-bottom: 1em;
  display: block;
  @include font-size(20);
  &:before {
    display: inline-block;
    //content: 'Total: ';
    font-weight: bold;
    margin-right: .25em;
    font-size: inherit;
    color: inherit;
  }
}

h4.bundled_product_title {
  color: $brand-blue;
}

.woocommerce-cart-form {
  margin-top: 2em;
}



#wc-authorize-net-cim-credit-card-tokenize-payment-method {
  clear: left;
float: left;
margin-top: 8px;
margin-right: 8px;
}



.wc-memberships-for-teams-team-area-action.button,
table.my_account_memberships .button {
  @include font-size(12);
  margin-bottom: .5em;
  line-height: 1;
}




.woocommerce-MyAccount-navigation li.is-active a {
  color: $brand-teal;
}

.woocommerce-page .quantity {
  margin-bottom: 1em;
}


body.woocommerce-checkout .blockOverlay {
  background: #fff url(../img/dist/icons/checkout-loader.gif) center center no-repeat !important;
}

.checkout-submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .checkout-notice {
    width: 70%;
    padding: 1em;
    border-radius: 5px;
    background: $brand-teal;
    border: 2px solid darken($brand-teal,20%);
    .p-lead {
      color: #fff;
      margin-bottom: 0;
    }
  }
}


.variation-AdditionalItemsTotal {
  display: block !important;
}

.shop_table .button {
  @include font-size(14);
  padding: .45em 1em;
}

// tr.bundle_table_item .product-price .amount,
// tr.bundle_table_item .product-subtotal .amount {
//   display: none;
// }
