.fun-run-report,
.fun-run-report * {
  box-sizing: border-box;
}

.fun-run-report table {
  margin-bottom: 1em;
  border: 1px solid #222;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.fun-run-report th {
  background: #222;
  color: #fff;
}

.fun-run-report tr + tr td,
.fun-run-report tr + tr th  {
  border-top: 1px solid #222;
}

.fun-run-report td,
.fun-run-report th {
  padding: .5em 1em;
}

.fun-run-report th {
  font-weight: 700;
  text-align: left;
}

.fun-run-report td + td {
  border-left: 1px solid #222;
}

@media screen and (min-width: 800px) {
  .fun-run-report .left-column,
  .fun-run-report .right-column {
    width: 49%;
  }
  .fun-run-report .left-column {
    float: left;
  }
  .fun-run-report .right-column {
    float: right;
  }
}
