//
//  Sidebar
//-------------------------------------------------------

.sidebar {
  margin-top: 3em;

  @include breakpoint($bp-med) {
    margin-top: 0;
  }
}

.advanced-sidebar {

  @include breakpoint($bp-med) {
    @include visuallyhidden;
  }

  .sidebar {
    margin-top: 0;
    margin-bottom: 2em;
  }
}
