//
//  Header
//-------------------------------------------------------

.site-header {
  display: none;
  text-align: center;
  background: #fff;
  transition: padding 250ms, background-color 250ms, transform 250ms;
  transform: translateZ(0);
  z-index: 50;
  position: relative;

  @include breakpoint($bp-med) {
    display: block;
    text-align: left;
  }

  @include breakpoint($bp-med--tall) {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 100;
  }

  .admin-bar & {
    @include breakpoint($bp-med--tall) {
      top: 2em;
    }
  }

  &.minify-header {
    @include breakpoint($bp-med--tall) {
      background-color: rgba( #fff, 0.95 );
      box-shadow: $box-shadow;
    }
  }

  .wrap {
    position: relative;
  }
}

@supports ( backdrop-filter: blur(10px) ) or ( -webkit-backdrop-filter: blur(10px) ) {
  .site-header {
    &.minify-header {
      @include breakpoint($bp-med--tall) {
        background-color: rgba( #fff, 0.95 );
        backdrop-filter: blur(10px);
      }
    }
  }
}

.site-header-top {
  position: absolute;
  right: 1em;
  top: 0;
}

.site-header-inner {
  @include clearfix;
  padding: 1em 0;
  transition: padding 500ms;

  .flexbox & {
    @include breakpoint($bp-med) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .minify-header & {
    @include breakpoint($bp-med--tall) {
      padding: .25em 0;
    }
  }
}

.header-col-1 {
  @include breakpoint($bp-med) {
    float: left;
    width: 40%;
  }
}

.header-col-2 {
  @include breakpoint($bp-med) {
    float: right;
    width: 60%;
  }

  .flexbox & {
    @include breakpoint($bp-med) {
      flex: 1 0 auto;
    }
  }
}

.site-branding {
  transition: transform 500ms;

  a {
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      img,
      h1 {
        opacity: .75;
      }
    }
  }

  img,
  h1 {
    display: block;
    transition: opacity 500ms;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .pspa-logo {
    transition: all, 500ms;
    display: inline-block;

    @include image-replace(80px,80px);
    display: inline-block;
    background: url(../img/dist/branding/pspa-badge.png) no-repeat;
    background-size: 80px 80px;

    @include breakpoint($bp-large) {
      @include image-replace(110px,110px);
      display: inline-block;
      background: url(../img/dist/branding/pspa-badge.png) no-repeat;
      background-size: 110px 110px;
    }
    @include breakpoint($bp-xl) {
      @include image-replace(134px,134px);
      display: inline-block;
      background: url(../img/dist/branding/pspa-badge.png) no-repeat;
      background-size: 134px 134px;
    }
  }

  h1 {
    transition: all, 500ms;
    margin: 0;
    @include font-size(26);
    font-family: $font-logo;
    font-weight: normal;
    color: $brand-blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint($bp-med) {
      @include font-size(20);
    }
    @include breakpoint($bp-large) {
      @include font-size(22);
    }
    @include breakpoint($bp-xl) {
      @include font-size(26);
    }
    span {
      display: inline-block;
      width: 67%;
      max-width: 325px;
    }
  }

  .minify-header & {
    @include breakpoint($bp-med--tall) {
      // Fix image blur - 'translateZ' forces hardware
      // acceleration for soother animation
      transform: translateZ(0) scale(.75);
      // Fix image blur - Simplifies the animation
      // to front-face only
      backface-visibility: hidden;
    }
  }

}

.header--buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: .5em 0;

  @include breakpoint($bp-large) {
    padding: 1em 0;
  }

  .search-bar {
    margin-right: 1em;
    .search-form {
      transition: border 500ms;
      border-radius: 25px;
      background: #E3EBF6;
      border: 1px solid #E3EBF6;
      &:focus-within {
        border: 1px solid $brand-blue;
      }
    }
    label {
      padding-right: 0;
    }
    input[type='search'] {
      border: 0;
      background: transparent;

    }

    button[type="submit"] {
      border-radius: 0;
      padding: .65em 0;
      background: transparent;
      right: 14px;
      top: -1px;
    }

  }

  .button {
    @include breakpoint($bp-med) {
      @include font-size(12);
      padding: .65em 1em;
    }
    @include breakpoint($bp-large) {
      @include font-size(16);
      padding: .65em 1.25em;
    }

    @include breakpoint($bp-xl) {
      @include font-size(18);
    }
  }

  .button.button--yellow {
    margin-right: .5em;
  }

  .button.button--cart {
    margin-left: .5em;
    position: relative;
    padding: .75em .85em .5em;
    .menu-cart-link-count {
      position: absolute;
      top: -10px; right: -10px;
      background: $ui-error;
      color: #fff;
      padding: .25em .5em;
      border-radius: 100%;
      line-height: 1;
    }
  }

}
