//
//  Footer
//-------------------------------------------------------

.site-footer {
  background: $brand-blue;
  padding: 2em 0;
  p {
    color: #fff;
  }
}


.primary-footer {
  @include clearfix;
  padding: 0 0 1em;
  .wrap {
    @include breakpoint($bp-xl) {
      padding: 0;
      display: flex;
      align-items: center;
    }
  }
}


.footer-col-1,
.footer-col-2 {
  @include breakpoint($bp-xl) {
    float: left;
  }
}

.footer-col-1 {
  margin-bottom: 1.5em;
  @include breakpoint($bp-xl) {
    margin-bottom: 0;
    float: left;
    width: 65%;
  }
}

.footer-col-2 {
  @include breakpoint($bp-xl) {
    float: left;
    width: 35%;
  }
}


.footer-social {
  text-align: center;

  @include breakpoint($bp-xl) {
    text-align: right;
  }
}

.site-info {
  color: #fff;
  text-align: center;
  @include breakpoint($bp-med) {
    text-align: left;
  }
  p {
    @include font-size(14);
    @include breakpoint($bp-med) {
      @include font-size(16);
      margin: 0;
    }
    @include breakpoint($bp-large) {
      @include font-size(18);
    }
  }

  .wrap {
    padding: 1.5em 0 0;
    border-top: 1px solid $brand-light-blue;
    @include breakpoint($bp-med) {
      padding: 2em 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

}

.site-copyright {
  text-align: center;
  @include breakpoint($bp-med) {
    width: 50%;
    text-align: left;
  }
}

.imagebox {
  text-align: center;

  @include breakpoint($bp-med) {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 50%;
  }

  svg {
    margin-bottom: -8px;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: #fff;
    margin-left: .5em;
    transition: color 500ms;
    &:hover,
    &:focus {
      color: #20b3de;
    }
  }
}
