
/**
 * Editor Styles
 */

body#tinymce.wp-editor {
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px;
  color: #1b1d1e;
  font-size: 18px;
  font-weight: 500;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
  margin: 0;
  margin-bottom: .5em;
  color: #424242;
  font-weight: 700;
  line-height: 1.2;
}

body#tinymce.wp-editor h1 {
  font-size: 2.25em;
  color: #004990 !important;
}

body#tinymce.wp-editor h2 {
  font-size: 1.75em;
  color: #17bf96;
}

body#tinymce.wp-editor h3 {
  font-size: 1.375em;
  color: #004990;
}

body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
  font-size: 1.125em;
  color: #81a1d0;
}


body#tinymce.wp-editor .p-lead {
  font-size: 1.375em;
  font-weight: 600;
  color: #1b1d1e;
}

body#tinymce.wp-editor a {
  color: #004990;
  text-decoration: underline;
  transition: color 500ms;
}

body#tinymce.wp-editor a:hover,
body#tinymce.wp-editor a:focus {
  color: #004990;
}

body#tinymce.wp-editor a.button {
  display: inline-block;
  vertical-align: baseline;
  padding: .65em 1.25em;
  border: 0 none;
  color: #004990;
  font-size: 1.125;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  appearance: none;
  background-color: #f8d051;
  cursor: pointer;
  border-radius: 25px;
  transition: color 500ms, background 500ms;
}

body#tinymce.wp-editor a.button:hover,
body#tinymce.wp-editor a.button:focus {
  color: #004990;
  background-color: #E2BA39;
  text-decoration: none;
}

body#tinymce.wp-editor hr {
  margin: 2em 0;
  border: 0 none;
  height: 3px;
  background: #5e5e5e;
}
