.block-testimonial .testimonial-author,
.block-testimonial .testimonial-role,
.block-testimonial .testimonial-text {
    display: block;
}

.block-testimonial {
  margin: 2em 0;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-testimonial blockquote {
  padding: 2em;
  margin: 0;
  width: 65%;
}

.block-testimonial .testimonial-text {
  font-weight: 900;
  font-size: 1.4375em;
  margin-bottom: .5em;
}

.block-testimonial .testimonial-author {
  font-size: 1.125em;
  font-weight: 600;
}

.block-testimonial .testimonial-role {
  font-size: 1.125em;
  font-style: italic;
}

.block-testimonial .testimonial-image {
  width: 35%;
}

.block-testimonial .testimonial-image img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  border-radius: 0 25px 25px 0;
}
