.homepage-carousel.owl-carousel {
  position: relative;
  z-index: 10;
  overflow: hidden;
  .owl-nav {
    width: 100%;
    display: none;
    @include breakpoint($bp-med) {
      display: block;
    }

    button.owl-prev,
    button.owl-next {
      transition: all, .5s;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      .button-nav-wrap {
        background: $brand-blue;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .owl-prev {
      left: 0;
      .button-nav-wrap {
        padding: 1.25em 1.15em 1.25em .5em;
        border-radius: 10px 100px 100px 10px;
      }
    }
    .owl-next {
      right: 0;
      .button-nav-wrap {
        padding: 1.25em .5em 1.25em 1.15em;
        border-radius: 100px 10px 10px 100px;
      }
    }
  }//.owl-nav

  .owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 93%;
    transform: translateY(-93%);
    z-index: 400;
    .owl-dot {
      transition: all,.5s;
      margin: 0.25em;
      background: $brand-blue;
      border-radius: 100%;
      width: 13px;
      height: 13px;
      &:hover {
        background: $brand-dark-blue;
      }
      &.active {
        background: $brand-teal;
        cursor: default;
        pointer-events: none;
        &:hover {
          background: $brand-teal;
        }
      }
    }
  }

  .item {
    position: relative;
    padding: 3em 0;
    min-height: 280px;
    background-blend-mode: saturation;
    @include breakpoint($bp-med) {
      padding: 6em 0;
      min-height: 390px;
    }
    @include breakpoint($bp-large) {
      padding: 10.5em 0;
      min-height: 565px;
    }
    @include breakpoint($bp-xl) {
      min-height: 590px;
    }

    .slide-overlay {
      z-index: 10;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      width: 100%; height: 100%;
      //background: rgba(129,161,208,.5);
      background: rgba(86,152,248,.4);
    }



    .wrap {
      position: relative;
      z-index: 20;
      max-width: 80%;
      @include breakpoint($bp-med) {
        max-width: 45em;
      }
      @include breakpoint($bp-large) {
        max-width: 55em;
      }
      @include breakpoint($bp-xxl) {
        max-width: $max-width;
      }
    }
  }

  .slide-message {
    max-width: 475px;
    @include breakpoint($bp-large) {
      max-width: 575px;
    }

    h1 {
      color: $brand-blue;
      font-weight: 600;
      @include font-size(24);
      @include breakpoint($bp-med) {
        @include font-size(28);
      }
      @include breakpoint($bp-large) {
        @include font-size(33);
      }
      @include breakpoint($bp-xl) {
        @include font-size(38);
      }
    }

    h2 {
      color: $brand-black;
      font-weight: normal;
      margin-bottom: 1em;
      @include font-size(18);
      @include breakpoint($bp-med) {
        @include font-size(21);
      }
      @include breakpoint($bp-large) {
        @include font-size(24);
      }
      @include breakpoint($bp-xl) {
        @include font-size(26);
      }

      a, strong {
        color: $brand-black;
        font-weight: 600;
      }

      a {
        transition: all, 500ms;
        text-decoration: none;
        border-bottom: 2px solid $brand-black;
        &:hover {
          color: $brand-blue;
          border-bottom: 2px solid $brand-blue;
        }
      }

    }

  }


}//.homepage-carousel.owl-carousel


.page-template-template-home {
  .notice-banner {
    padding: 2.5em 0;
    background: $brand-teal;
    text-align: center;
    position: relative;
    @include breakpoint($bp-med) {
      text-align: left;
      padding: 1em 0;
    }
    @include breakpoint($bp-large) {
      padding: 0;
    }

    h3,p {
      color: #fff;
      font-weight: 600;
    }

    h3 {
      @include font-size(19);
      @include breakpoint($bp-med) {
        @include font-size(23);
      }
      @include breakpoint($bp-large) {
        @include font-size(26);
      }
      @include breakpoint($bp-xl) {
        @include font-size(28);
      }
    }

    p {
      @include font-size(13);
      line-height: 1.24;
      @include breakpoint($bp-med) {
        @include font-size(15);
      }
      @include breakpoint($bp-large) {
        @include font-size(16);
      }
      @include breakpoint($bp-xl) {
        @include font-size(18);
      }
    }

    &__inner {
      @include breakpoint($bp-med) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: 200px;
      }
    }

    &__photo {
      width: 25%;
      display: block;
      margin: 0 auto .5em;
      @include breakpoint($bp-med) {
        margin: 0;
        // width: 20%;
        position: relative;
        z-index: 50;
        flex: 1 0 auto;
        width: 10%;
      }
      img {
        border-radius: 100%;
        margin: 0;
        display: block;
      }
    }

    &__info {
      @include breakpoint($bp-med) {
        width: 45%;
        padding-right: .5em;
        //padding: 2em 0;
      }
      @include breakpoint($bp-large) {
        width: 50%;
        padding-right: 1em;
      }
      @include breakpoint($bp-xl) {
        width: 58%;
        padding: 1em 1.25em 1em 1em;
      }
    }

    &__link {
      @include breakpoint($bp-med) {
        width: 20%;
        //padding: 2em 0;
      }
      @include breakpoint($bp-xl) {
        width: 17%;
      }
    }

  }//.notiuce-banner

  .notice-banner-dual {
    background: $brand-teal;
    padding: 2.5em 0;
    text-align: center;
    @include breakpoint($bp-med) {
      text-align: left;
    }
    h3,p {
      color: #fff;
    }
    h3 {
      @include font-size(21);
      @include breakpoint($bp-med) {
        @include font-size(18);
      }
      @include breakpoint($bp-large) {
        @include font-size(21);
      }
    }
    p {
      @include font-size(18);
      @include breakpoint($bp-med) {
        @include font-size(14);
      }
      @include breakpoint($bp-large) {
        @include font-size(16);
      }
    }

    a:hover {
      color: $brand-blue;
      text-decoration: none;
    }

    .notices {
      @include breakpoint($bp-med) {
        display: flex;
        justify-content: space-between;
      }
      .notice {
        margin-bottom: 3em;
        &:last-child {
          margin-bottom: 0;
        }
        @include breakpoint($bp-med) {
          margin: 0;
          width: 48%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .notice-photo {
          @include breakpoint($bp-med) {
            width: 25%;
          }
          // @include breakpoint($bp-large) {
          //   width: 20%;
          // }
          // @include breakpoint($bp-xl) {
          //   width: 15%;
          // }
        }
        .notice-content {
          @include breakpoint($bp-med) {
            width: 70%;
          }
          // @include breakpoint($bp-large) {
          //   width: 75%;
          // }
          // @include breakpoint($bp-xl) {
          //   width: 80%;
          // }
        }
      }
    }
    .notice-photo {
      img {
        border-radius: 10px;
        display: block;
        margin: 0 auto 1em;
        @include breakpoint($bp-med) {
          margin: 0;
        }
      }
    }
  }

}

.home-member-callout {
  background: #fff;
  padding: 2em 0;
  position: relative;
  overflow: hidden;

  @include breakpoint($bp-med) {
    padding: 0;
    background: linear-gradient(to right, #D8E3F2 0%, #D8E3F2 40%, #fff 40%, #fff 100%);
  }

  .mc-background {
    display: none;
    @include breakpoint($bp-med) {
      z-index: 10;
      display: block;
      position: absolute;
      width: 50%;
      height: auto;
      top: 0; left: 0;
    }
  }

  &__inner {
    position: relative;
    z-index: 30;
    @include breakpoint($bp-med) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__left {
    background: #fff;
    margin-bottom: 1.5em;
    @include breakpoint($bp-med) {
      margin-bottom: 0;
      background: transparent;
      //background: #D8E3F2 url(../img/temp/bg-member-callout.jpg) left center no-repeat;
      width: 35%;
      padding: 3em 1em 3em 0;
    }
    @include breakpoint($bp-xl) {
      padding: 3em 1.5em 3em 0;
    }

    h3 {
      border-bottom: 2px solid $brand-light-blue;
      padding-bottom: .5em;
      color: $brand-blue;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include font-size(22);
      @include breakpoint($bp-med) {
        @include font-size(24);
      }
      @include breakpoint($bp-large) {
        @include font-size(30);
      }
      @include breakpoint($bp-xl) {
        @include font-size(36);
      }
      .icon {
        margin-right: .75em;

      }
    }

    p {
      color: $brand-black;
      line-height: 1.28;
      @include font-size(16);
      @include breakpoint($bp-med) {
        @include font-size(18);
      }
      @include breakpoint($bp-large) {
        @include font-size(20);
      }
      @include breakpoint($bp-xl) {
        @include font-size(22);
      }
    }

  }

  &__right {
    @include breakpoint($bp-med) {
      background: #fff;
      width: 60%;
      padding: 3em 0 3em 1.5em;
    }

    @include breakpoint($bp-xl) {
      padding: 3em 0 3em 2em;
    }

    h4 {
      color: $brand-teal;
      font-weight: 700;
      @include font-size(22);
      @include breakpoint($bp-med) {
        @include font-size(24);
      }
      @include breakpoint($bp-large) {
        @include font-size(26);
      }
      @include breakpoint($bp-xl) {
        @include font-size(28);
      }
    }

    ul {
      @include list-reset();
      a {
        transition: all, 500ms;
        color: $brand-blue;
        font-weight: 600;
        text-decoration: none;
        padding: .75em 0;
        display: block;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span {
          display: inline-block;
          margin-right: .5em;
        }

        svg {
          transition: all, 500ms
        }

        &:hover {
          color: $brand-teal;
          svg {
            transform: translateX(.35em);
          }
        }

        @include font-size(16);

        @include breakpoint($bp-med) {
          @include font-size(18);
        }
        @include breakpoint($bp-large) {
          @include font-size(20);
        }
        @include breakpoint($bp-xl) {
          @include font-size(22);
        }


      }
      li {
        margin-bottom: 0;
        border-bottom: 2px solid $brand-gray;
        &:last-child {
          border-bottom: 0;
        }
      }
    }

    .member-links {
      @include breakpoint($bp-med) {
        display: flex;
        justify-content: space-between;
      }
      &__left {
        margin-bottom: 1.5em;
        @include breakpoint($bp-med) {
          margin-bottom: 0;
          width: 48%;
        }
      }
      &__right {
        @include breakpoint($bp-med) {
          width: 48%;
        }
      }
    }

  }


}//.home-member-callout


.home-get-involved {
  color: #fff;
  background: $brand-blue;
  padding: 2em 0;
  @include breakpoint($bp-med) {
    padding: 3.5em 0;
  }
  li,h3,p {
    color: #fff;
  }
  h4 {
    color: $brand-yellow;
    font-weight: 700;
    @include font-size(22);
    @include breakpoint($bp-med) {
      @include font-size(24);
    }
    @include breakpoint($bp-large) {
      @include font-size(26);
    }
    @include breakpoint($bp-xl) {
      @include font-size(28);
    }
  }

  p {
    font-weight: 600;
    line-height: 1.28;
    @include font-size(16);
    @include breakpoint($bp-med) {
      @include font-size(18);
    }
    @include breakpoint($bp-large) {
      @include font-size(20);
    }
    @include breakpoint($bp-xl) {
      @include font-size(22);
    }
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    h3 {
      width: 100%;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      @include font-size(22);
      @include breakpoint($bp-med) {

        border-bottom: 0;
        padding-bottom: 0;
        @include font-size(24);
      }
      @include breakpoint($bp-large) {
        @include font-size(30);
      }
      @include breakpoint($bp-xl) {
        @include font-size(36);
      }
      .icon {
        margin-right: .75em;
      }

      position: relative;
      &:after {
        content: '';
        height: 2px;
        width: 100%;
        background: rgba(255,255,255,.25);
      }
      span {
        display: block;
        min-width: 20%;
        &.long {
          min-width: 38%;
        }
      }
    }
  }//header

  ul {
    @include list-reset();
    a {
      transition: all, 500ms;
      color: #fff;
      font-weight: 600;
      text-decoration: none;
      padding: .75em 0;
      display: block;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        display: inline-block;
        margin-right: .5em;
      }

      svg {
        transition: all, 500ms
      }

      &:hover {
        color: $brand-yellow;
        svg {
          transform: translateX(.35em);
        }
      }

      @include font-size(16);

      @include breakpoint($bp-med) {
        @include font-size(18);
      }
      @include breakpoint($bp-large) {
        @include font-size(20);
      }
      @include breakpoint($bp-xl) {
        @include font-size(22);
      }


    }
    li {
      margin-bottom: 0;
      border-bottom: 2px solid #fff;
      border-bottom: 2px solid rgba(255,255,255,.25);
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .section-info {
    @include breakpoint($bp-med) {
      display: flex;
      justify-content: space-between;
    }
    &__left {
      margin-bottom: 3em;
      @include breakpoint($bp-med) {
        width: 55%;
        margin-bottom: 0;
      }
      @include breakpoint($bp-large) {
        width: 64%;
      }
    }
    &__right {
      @include breakpoint($bp-med) {
        width: 40%;
      }
      @include breakpoint($bp-large) {
        width: 30%;
      }
    }
  }

}//.home-get-involved


.home-career-center {
  // color: #fff;
  background: #fff;
  padding: 2em 0;
  @include breakpoint($bp-med) {
    padding: 3.5em 0;
  }
  li,h3 {
    color: $brand-blue;
  }
  h4 {
    color: $brand-teal;
    font-weight: 700;
    @include font-size(22);
    @include breakpoint($bp-med) {
      @include font-size(24);
    }
    @include breakpoint($bp-large) {
      @include font-size(26);
    }
    @include breakpoint($bp-xl) {
      @include font-size(28);
    }
  }

  .icon.icon-career-center {
    min-width: 78px;
    height: auto;
  }

  p {
    font-weight: 600;
    line-height: 1.28;
    @include font-size(16);
    @include breakpoint($bp-med) {
      @include font-size(18);
    }
    @include breakpoint($bp-large) {
      @include font-size(20);
    }
    @include breakpoint($bp-xl) {
      @include font-size(22);
    }
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
    h3 {
      width: 100%;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      @include font-size(22);
      @include breakpoint($bp-med) {

        border-bottom: 0;
        padding-bottom: 0;
        @include font-size(24);
      }
      @include breakpoint($bp-large) {
        @include font-size(30);
      }
      @include breakpoint($bp-xl) {
        @include font-size(36);
      }
      .icon {
        margin-right: .75em;
      }

      position: relative;
      &:after {
        content: '';
        height: 2px;
        width: 100%;
        background: $brand-gray;
      }
      span {
        display: block;
        min-width: 20%;
        &.long {
          min-width: 38%;
        }
      }
    }
  }//header

  ul {
    @include list-reset();
    a {
      transition: all, 500ms;
      color: $brand-blue;
      font-weight: 600;
      text-decoration: none;
      padding: .75em 0;
      display: block;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        display: inline-block;
        margin-right: .5em;
      }

      svg {
        transition: all, 500ms
      }

      &:hover {
        color: $brand-teal;
        svg {
          transform: translateX(.35em);
        }
      }

      @include font-size(16);

      @include breakpoint($bp-med) {
        @include font-size(18);
      }
      @include breakpoint($bp-large) {
        @include font-size(20);
      }
      @include breakpoint($bp-xl) {
        @include font-size(22);
      }


    }
    li {
      margin-bottom: 0;
      border-bottom: 2px solid $brand-gray;
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .section-info {
    @include breakpoint($bp-med) {
      display: flex;
      justify-content: space-between;
    }
    &__left {
      margin-bottom: 3em;
      @include breakpoint($bp-med) {
        width: 55%;
        margin-bottom: 0;
      }
      @include breakpoint($bp-large) {
        width: 64%;
      }
    }
    &__right {
      @include breakpoint($bp-med) {
        width: 40%;
      }
      @include breakpoint($bp-large) {
        width: 30%;
      }
    }
  }

}//.home-career-center


.home-for-pa-students {
  background: $brand-yellow;
  // padding: 2em 0;
  @include breakpoint($bp-med) {
    background: $brand-yellow url(../img/temp/bg-pa-students.jpg) no-repeat right;
    background-size: auto 100%;
  }
  @include breakpoint($bp-large) {
    background: $brand-yellow url(../img/temp/bg-pa-students.jpg) no-repeat right;
    background-size: auto 100%;
  }
  &__content {
    background: $brand-yellow;
    padding: 2em 0;
    @include breakpoint($bp-med) {
      width: 50%;
    }
  }
  h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    color: $brand-blue;
    @include font-size(22);
    @include breakpoint($bp-med) {
      @include font-size(24);
    }
    @include breakpoint($bp-large) {
      @include font-size(30);
    }
    @include breakpoint($bp-xl) {
      @include font-size(36);
    }
    .icon {
      margin-right: .75em;
    }
  }

  ul {
    @include list-reset();
    li {
      display: inline-block;
      margin: 0 1.15em 0 0;
      padding: 0 1.5em 0 0;
      border-right: 2px solid #fff;
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: 0;
      }
    }
    a {
      text-decoration: none;
      color: $brand-blue;
      font-weight: 600;
      @include font-size(18);
      display: flex;
      align-items: center;
      @include breakpoint($bp-med) {
        @include font-size(19);
      }
      @include breakpoint($bp-large) {
        @include font-size(22);
      }
      span {
        display: inline-block;
        margin-right: .5em;
      }
      svg {
        transition: all 500ms;
      }
      &:hover svg {
        transform: translateX(.25em);
      }
    }

  }
}//.home-for-pa-students


.home-latest {
  background: $brand-gray url(../img/dist/branding/bg-circles.png) no-repeat;
  background-size: cover;
  padding: 2em 0;
  @include breakpoint($bp-med) {
    padding: 3.5em 0;
  }

  &__inner {
    @include breakpoint($bp-med) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__box {
    background: #fff;
    border-radius: 6px;
    margin-bottom: 1.75em;

    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint($bp-med) {
      margin-bottom: 0;
      width: 32%;
    }
    header {
      border-radius: 6px 6px 0 0;
      background: $brand-teal;
      padding: 1em 2em;
      h4 {
        margin: 0;
        color: #fff;
        @include font-size(28);
        font-weight: 600;
      }
    }

    .box__inner {
      padding: 1em 2em;
      // @include breakpoint($bp-med) {
      //   height: 70%;
      // }
    }

    .box__callout {
      padding: 0 2em 2em;
    }

  }

  .post-list {
    @include list-reset();

    li {
      padding-bottom: 1.25em;
      margin-bottom: 1.25em;
      border-bottom: 2px solid $brand-gray;
      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
      }
    }

    a {
      text-decoration: none;
    }

    h6 {
      margin: 0 0 .5em;
      color: $brand-light-blue;
      text-transform: uppercase;
      @include font-size(14);
      @include breakpoint($bp-med) {
        @include font-size(18);
      }
      @include breakpoint($bp-large) {
        @include font-size(16);
      }
    }

    h2 {
      margin: 0;
      font-weight: 600;
      @include font-size(16);
      @include breakpoint($bp-med) {
        @include font-size(18);
      }
      @include breakpoint($bp-large) {
        @include font-size(20);
      }

      a {
        color: $brand-blue;
        &:hover {
          color: $brand-dark-blue;
        }
      }

    }

  }

}//.home-latest

.homepage-sponsors {
  background: #fff;
  padding: 2em 0;
  position: relative;
  @include breakpoint($bp-med) {
    padding: 3.5em 0;
  }

  .carousel-heading {
    margin-bottom: 2em;
    @include breakpoint($bp-med) {
      margin-bottom: 3em;
    }
    h3 {
      overflow: hidden;
      text-align: center;
      color: $brand-blue;
      font-weight: 600;
      margin: 0;
      @include font-size(20);
      @include breakpoint($bp-med) {
        @include font-size(23);
      }
      @include breakpoint($bp-large) {
        @include font-size(26);
      }
      @include breakpoint($bp-xl) {
        @include font-size(28);
      }
      &:before,
      &:after {
        background: $brand-gray;
        content: '';
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 50%;
      }
      &:before {
        right: .75em;
        margin-left: -50%;
      }
      &:after {
        left: .75em;
        margin-right: -50%;
      }
    }
  }

  .sponsor-carousel {
    margin: 0 auto;
    padding: $max-width-spacing;
    max-width: $max-width;
    position: relative;

  }


  .custom-owl-nav {
    width: 100%;
    display: none;
    @include breakpoint($bp-large) {
      display: block;
    }

    button.owl-prev,
    button.owl-next {
      border: 0;
      background: transparent;
      padding: 0;
      transition: all, .5s;
      position: absolute;
      top: 65%;
      transform: translateY(-65%);
      .button-nav-wrap {
        background: $brand-blue;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .owl-prev {
      left: 0;
      .button-nav-wrap {
        padding: 1.25em 1.15em 1.25em .5em;
        border-radius: 10px 100px 100px 10px;
      }
    }
    .owl-next {
      right: 0;
      .button-nav-wrap {
        padding: 1.25em .5em 1.25em 1.15em;
        border-radius: 100px 10px 10px 100px;
      }
    }
  }//.owl-nav

}//.homepage-sponsors

.homepage-ads {
  padding: 1em 0;
  background: $brand-gray-alt;
  text-align: center;
  @include breakpoint($bp-med) {
    padding: 2em 0;
  }
  .ad a {
    display: block;
  }
  .ad img {
    display: block;
    margin: 0;
    opacity: 1;
    transition: all, 500ms;
  }

  .ad a:hover img {
    opacity: .8;
  }

  .ads-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @include breakpoint($bp-med) {
      flex-direction: row;
    }
  }

  .ads-wrap .ad + .ad {
    margin: 1em 0 0 0;
    @include breakpoint($bp-med) {
      margin: 0 0 0 1em;
    }
  }

}
