.membership-options {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 2px solid $brand-gray;

  .member-row {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .member-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .member-option {
    background: $brand-gray;
    padding: 1.5em 2em;
    border-radius: 6px;
    width: 48%;
    margin-bottom: 1em;
    margin-right: 1.3%;

    @include breakpoint($bp-large) {
      width: 32%;
    }

    h4 {
      color: $brand-black;
      font-weight: normal;
      @include font-size(22);
      @include breakpoint($bp-med) {
        @include font-size(26);
      }
      @include breakpoint($bp-large) {
        @include font-size(29);
      }
    }

  }

}
