.l-join-or-renew {

  @include breakpoint($bp-med) {
    display: flex;
    justify-content: space-between;
  }

  .intro {
    text-align: center;
    img {
      margin: 0 auto .5em;
    }
  }

  .join,
  .renew {
    @include breakpoint($bp-med) {
      padding-bottom: 1em;
    }
  }

  .join {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 2px solid $brand-gray;
    @include breakpoint($bp-med) {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
      width: 50%;
      padding-right: 4%;
      border-right: 2px solid $brand-gray;
    }

    h2 {
      margin-top: 1em;
    }



    ul {
      @include list-reset();
      li:before {
        display: none;
      }

      a {
        transition: all, 500ms;
        color: $brand-blue;
        font-weight: 600;
        text-decoration: none;
        padding: .5em 0;
        display: block;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span {
          display: inline-block;
          margin-right: .5em;
        }

        svg {
          transition: all, 500ms
        }

        &:hover {
          color: $brand-teal;
          svg {
            transform: translateX(.35em);
          }
        }

        @include font-size(16);

        @include breakpoint($bp-med) {
          @include font-size(18);
        }
        @include breakpoint($bp-large) {
          @include font-size(20);
        }
        @include breakpoint($bp-xl) {
          @include font-size(22);
        }


      }
      li {
        margin-bottom: 0;
        border-bottom: 2px solid $brand-gray;
        &:last-child {
          border-bottom: 0;
        }
      }
    }

  }

  .renew {
    @include breakpoint($bp-med) {
      width: 50%;
      padding-left: 4%;
    }

    .login-submit {
      text-align: center;
      margin: 0;
      input {
        border: 0;
      }
    }

  }


}

.mo-gated-intro {
  margin-bottom: 4em;
}
