.account-masthead {
  @include breakpoint($bp-med) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }
}

.registration-callout {
  margin-bottom: 1em;
  @include breakpoint($bp-med) {
    margin-bottom: 0;
  }
  a {
    transition: 500ms;
    display: block;
    text-decoration: none;
    background: $brand-yellow;
    border-radius: 6px;
    color: $brand-blue;
    text-align: center;
    padding: 1.5em 2.5em;
    &:hover {
      background: $brand-dark-yellow;
    }
  }
  h2, p {
    color: $brand-blue;
  }
  @include breakpoint($bp-med) {
    width: 23.5%;
  }
  p {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint($bp-large) {
      @include font-size(22);
    }
    span {
      display: inline-block;
      margin-right: .5em;
    }
  }
}

.account-intro {
  background: $brand-blue;
  border-radius: 6px;
  color: #fff;
  margin-bottom: 1em;
  overflow: hidden;
  @include breakpoint($bp-med) {
    margin-bottom: 0;
    display: flex;
    //flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 74.5%;
  }
  .account-intro-left,
  .account-intro-right {
    @include breakpoint($bp-med) {
      width: 50%;
    }
  }

  .account-intro-left {
    padding: 2em;
    background-color: $brand-blue;
    background-image: url(../img/dist/branding/bg-account.jpg);
    background-repeat:  no-repeat;
    background-size: cover;
    @include breakpoint($bp-med) {
      padding: 7em 2.5em;
    }
    // @include breakpoint($bp-large) {
    //   padding: 8.5em 2.5em;
    // }
  }

  .account-intro-left h2 {
    margin: 0;
    display: flex;
    align-items: center;
    color: #fff;
    @include font-size(30);
    @include breakpoint($bp-med) {
      @include font-size(32);
    }
    @include breakpoint($bp-large) {
      @include font-size(46);
    }
    span {
      margin-left: .5em;
      text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    }
  }

  .account-intro-right {
    padding: 2em;
    @include breakpoint($bp-med) {
      padding: 2em 2.5em;
    }
    ul {
      @include list-reset();
      li:before {
        display: none;
      }
      a {
        transition: all, 500ms;
        color: #fff;
        text-shadow: 0px 2px 4px rgba(0,0,0,0.5);
        font-weight: 600;
        text-decoration: none;
        padding: .5em 0;
        display: block;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span {
          display: inline-block;
          margin-right: .5em;
        }

        svg {
          transition: all, 500ms
        }

        &:hover {
          color: $brand-teal;
          svg {
            transform: translateX(.35em);
          }
        }

        @include font-size(16);

        // @include breakpoint($bp-med) {
        //   @include font-size(18);
        // }
        @include breakpoint($bp-large) {
          @include font-size(20);
        }
        @include breakpoint($bp-xl) {
          @include font-size(22);
        }


      }
      li {
        margin-bottom: 0;
        border-bottom: 2px solid $brand-gray;
        &:last-child {
          border-bottom: 0;
        }
      }


    }
  }

}

.members-only-callouts {
  ul {
    @include list-reset();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    margin: 0;
    width: 49%;
    margin-bottom: .65em;
    @include breakpoint($bp-med) {
      width: 32.15%;
    }

    @include breakpoint($bp-large) {
      width: 23.5%;
    }

    @include breakpoint($bp-xl) {
      margin-bottom: 1.25em;
    }

  }

  a {
    width: 100%;
    height: 100%;
    transition: all, .5s;
    border-radius: 6px;
    display: block;
    text-align: center;
    text-decoration: none;
    background: $brand-gray;
    padding: 2em;
    &:hover {
      background: darken($brand-gray, 5%);
    }

    @include breakpoint($bp-xl) {
      padding: 3em 1em;
    }

    img {
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto;
    }

    h6 {
      font-weight: 600;
      color: $brand-blue;
      margin: .25em 0 0;
      @include font-size(17);
      @include breakpoint($bp-med) {
        @include font-size(19);
      }
      @include breakpoint($bp-large) {
        @include font-size(22);
      }
      @include breakpoint($bp-xl) {
        @include font-size(25);
      }
    }

  }

}
