.section.l-officer-directory {
  padding-top: 0em;
}

.officer-directory-filter {
  padding: 1em 0;
  background: $brand-teal;
  text-align: center;
  @include breakpoint($bp-large) {
    text-align: left;
  }

  h6,li {
    color: #fff;
    @include breakpoint($bp-med) {
      @include font-size(19);
    }
    @include breakpoint($bp-large) {
      @include font-size(17);
    }
    @include breakpoint($bp-xl) {
      @include font-size(22);
    }
  }

  h6 {
    font-weight: 600;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid #0EAA84;
    @include breakpoint($bp-large) {
      border-bottom: 0;
      margin-bottom: 0;
      display: inline-block;
      margin-right: 1em;
      padding: .5em 1em .5em 0;
      border-right: 2px solid #0EAA84;
    }
  }

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 1.5em 0 0;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
    transition: all, .5s;
    &:hover {
      color: darken($brand-teal, 25%);
    }
    &.active {
      color: $brand-blue;
    }
  }

}

.officer-directory-content {
  padding: 3em 0;
}

.officer-directory-group {
  display: none;
  &.active {
    display: block;
  }
}

.officer-intro-text {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid $brand-gray;
}

.officer-grid {
  display: flex;
  //justify-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap;

  .content--team-box {
    width: 100%;
    @include breakpoint($bp-small) {
      width: 49%;
      padding-right: 1em;
    }
    @include breakpoint($bp-large) {
      width: 32%;
      padding-right: 1.25em;
    }
  }

}

.content--team-box {
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  .team-photo {
    width: 30%;
    img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0;
    }
  }
  .team-content {
    width: 62%;
  }

  &.content--team-box-search  {
    .team-photo {
      width: 10%;
    }
    .team-content {
      width: 85%;
    }
  }

  h4 {
    font-weight: 600;
    @include font-size(16);
    color: $brand-teal;
    margin: 0 0 .25em;

    @include breakpoint($bp-med) {
      @include font-size(18);
    }
    @include breakpoint($bp-large) {
      @include font-size(21);
    }
  }

  p {
    @include font-size(14);
    color: $brand-black;
    margin: 0 0 .5em;
    @include breakpoint($bp-med) {
      @include font-size(16)
    }
    @include breakpoint($bp-large) {
      @include font-size(18)
    }
    &:last-child {
      margin-bottom: 0;
    }

    &.email {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }

  }

}

.region-groups {

  .region-heading {
    background: $brand-blue;
    border-radius: 5px 5px 0 0;
    padding: 1em;
    margin: 1.5em 0 1.5em;
    &:first-child {
      margin-top: 0;
    }

    @include breakpoint($bp-large) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    h2 {
      color: $brand-yellow;
      @include breakpoint($bp-large) {
        margin: 0 .65em 0 0;
        padding-right: .75em;
        border-right: 2px solid $brand-light-blue;
      }

    }

    p {
      color: #fff;
      margin: 0;
    }

  }

  &.region-groups-skinny {
    margin-top: 3em;

    .officer-grid .content--team-box {
      @include breakpoint($bp-large) {
        width: 49%;
      }
    }

    .region-heading h2 {
      @include breakpoint($bp-large) {
        @include font-size(21);
        min-width: 100px;
      }
    }

    .content--team-box h4 {
      @include breakpoint($bp-large) {
        @include font-size(18);
      }
    }

    .content--team-box p {
      @include breakpoint($bp-large) {
        @include font-size(16);
      }
    }

  }

}


.past-pres-skinny .officer-grid {
  .content--team-box {
    @include breakpoint($bp-large) {
      width: 49%;
    }
  }

  .content--team-box h4 {
    @include breakpoint($bp-large) {
      @include font-size(18);
    }
  }

  .content--team-box p {
    @include breakpoint($bp-large) {
      @include font-size(16);
    }
  }

}
