
.blog-page {
  @extend .section;

  article {
    + article {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 2px solid $border-color;
    }
  }

  .entry-footer {
    .comments-link,
    .edit-link {
      background: $bkg-med-grey;
      border: 1px solid darken(#fff, 5%);
      color: #fff;

      a {
        color: #fff;
      }
    }
  }

  .nav-links {
    a {
      color: $link-color;
    }
  }
}


.innerpage-posts {
  article {
    + article {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 2px solid $border-color;
    }
  }

  .entry-footer {
    .comments-link,
    .edit-link {
      background: $bkg-med-grey;
      border: 1px solid darken(#fff, 5%);
      color: #fff;

      a {
        color: #fff;
      }
    }
  }
}


.innerpage-post-archive {
  margin-top: 3em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 1em 1.5em;
    background: lighten($brand-light-blue,20%);
    li {
      margin: 0 0 .5em 0;
      padding: 0;
      &:before {
        display: none;
      }
    }
  }
  h3 {
    margin: 0;
    padding: 1em;
    background: $brand-blue;
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  a:hover {
    color: $brand-blue;
  }

}
