.sitemap-list {
  @include font-size(18);

  @include breakpoint($bp-med) {
    columns: 3 auto;
  }

  > ul {
    list-style: none;
    padding-left: 0;
  }

  ul.children {
    margin-bottom: .25em;
    padding-left: 1.5em;
  }

  li+li {
    margin-top: .25em;
  }

}
