
.button,
input[type="submit"] {
  @include button( $button-color );
  // color: $brand-blue;
  .button--arrow {
    margin-left: .75em;
    display: inline-block;
  }

  &.button--small {
    @include font-size(12);
    @include breakpoint($bp-med) {
      @include font-size(13);
    }

    @include breakpoint($bp-xl) {
      @include font-size(15);
    }
  }

}

.button--teal {
  background-color: $brand-teal;
  color: #fff;
  &:hover,
  &:focus {
    background: $brand-green;
    color: #fff;
  }
}

.button--blue {
  background-color: $brand-blue;
  color: $brand-yellow;
  &:hover,
  &:focus {
    background: $brand-dark-blue;
    color: $brand-yellow;
  }
}

.text-button {
  @include button-reset;
  padding: .15em 0;
  padding-right: 2.15em;
  color: $button-color;
  font-size: .875em;
  font-weight: 700;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $button-color--hover;
  }
}

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}
