/**
 * Block Bkg Colors
 */

.color-option-1 {
  background-color: #fff;
}

.color-option-2 {
  background-color: $brand-gray-alt;
}

.color-option-3 {
  background-color: $brand-blue;
}

.color-option-4 {
  background-color: $brand-yellow;
}

.color-option-5 {
  background-color: $brand-teal;
}

.color-option-3,
.color-option-4,
.color-option-5 {
  @include reverse-block-color();
  a,
  a[href^=mailto],
  a[href^=tel] {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

section.color-option-1,
section.color-option-2,
section.color-option-3,
section.color-option-4,
section.color-option-5 {
  .button {
    color: $brand-blue;
  }
}

.background-image {
  @include reverse-block-color();
  background-color: $bkg-dark-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.alert-text {
  color: $ui-error;
}
