h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  margin-bottom: .75em;
  color: $heading-color;
  font-family: $font-heading;
  font-weight: 600;
  line-height: 1.2;

  p + &,
  ul + &,
  ol + & {
    margin-top: 1em;
  }
}

h2,
.h2,
h3,
.h3 {
  margin-bottom: .5em;
}

h1, .h1 {
  color: $brand-blue;
  @include font-size(28);
  @include breakpoint($bp-med) {
    @include font-size(32);
  }
  @include breakpoint($bp-large) {
    @include font-size(36);
  }
}

h2, .h2 {
  color: $brand-teal;
  @include font-size(21);
  @include breakpoint($bp-med) {
    @include font-size(25);
  }
  @include breakpoint($bp-large) {
    @include font-size(28);
  }
}

h3, .h3 {
  color: $brand-blue;
  @include font-size(18);
  @include breakpoint($bp-med) {
    @include font-size(20);
  }
  @include breakpoint($bp-large) {
    @include font-size(22);
  }
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;
  color: $brand-light-blue;
  @include font-size(16);
  @include breakpoint($bp-med) {
    @include font-size(17);
  }
  @include breakpoint($bp-large) {
    @include font-size(18);
  }
}
