
input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="url"],
input[type="search"],
textarea {
  padding: .5em .75em;
  border: 2px solid $button-color;
  background: #fff;
  appearance: none;
  color: $text-color;
  transition: border-color 250ms;

  &:focus {
    border-color: $button-color--hover;
    outline: 0 none;
  }
}

label {
  display: block;
}


.wppb-user-forms li:before {
  display: none;
}


.wppb-user-forms h4 {
  color: $brand-light-blue-alt;
  margin-bottom: 0;
}


.page-content .wppb-woocommerce-customer-billing-address {
  margin-top: 1.5em;
}
