ol,
ul {
  margin: 0;
  margin-bottom: 1em;
  padding-left: 1.8em;
  color: $brand-black;
}

li {
  margin: 0;

  + li {
    margin-top: .5em;
  }
}

.list-reset {
  @include list-reset();

  li {
    + li {
      margin-top: 0;
    }
  }
}
