
img,
video,
object {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 1em auto;
  max-width: 100%;
}

figcaption {
  padding: 1em;
  font-size: .8125em;
}


/**
 * Responsive iframe
 */

.flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/**
 * Get rid of min-height on embedded iframes
 */

.page-content iframe {
  min-height: auto !important;
}
