
/**
 * Sections
 */

.section {
  @include clearfix;
  padding: $vertical-padding;

  @include breakpoint($bp-med) {
    padding: $vertical-padding-medium;
  }

  @include breakpoint($bp-large) {
    padding: $vertical-padding-large;
  }

  // Remove vertical padding for same color blocks
  &.color-option-1 + &.color-option-1,
  &.color-option-2 + &.color-option-2,
  &.color-option-3 + &.color-option-3,
  &.color-option-4 + &.color-option-4,
  &.color-option-5 + &.color-option-5 {
    padding-top: 0;

    @include breakpoint($bp-med) {
      padding-top: 0;
    }

    @include breakpoint($bp-large) {
      padding-top: 0;
    }
  }
}

.section-header {
  margin-bottom: .75em;
  text-align: center;
  h2 {
    margin: 0;
  }
}

.section-footer {}
