
table {
  margin-bottom: 1em;
  border: 1px solid $brand-black;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

tr {
  + tr {
    td,
    th {
      border-top: 1px solid $brand-black;
    }
  }
}

td,
th {
  padding: .5em 1em;
}

th {
  font-weight: 700;
  text-align: center;
}

td {

  + td {
    border-left: 1px solid $brand-black;
  }
}

// TablePress

.tablepress thead th {
  background-color: $brand-blue !important;
  color: #fff;
  @include font-size(18);
}

.tablepress tbody {
  border: 1px solid #ddd;
}

.tablepress thead th:first-child {
  @include breakpoint($bp-med) {
    border-top-left-radius: 5px;
  }
}

.tablepress thead th:last-child {
  @include breakpoint($bp-med) {
    border-top-right-radius: 5px;
  }
}


.tablepress.conference-lectures td.column-1 {
  width: auto;
  @include breakpoint($bp-med) {
    width: 25%;
  }
}

.tablepress.conference-registration {
  // &:after {
  //   display: block;
  //   content: 'Scroll ➡';
  //   text-transform: uppercase;
  //   font-weight: bold;
  //   color: $brand-blue;
  //   @include breakpoint($bp-med) {
  //     display: none;
  //   }
  // }
  td,th {
    //padding: 4px;
    @include font-size(10);
    @include breakpoint($bp-med) {
      @include font-size(16);
      padding: 8px;
    }
  }
}

.tablepress .dtr-details {
  list-style: none;
  margin: 0;
  padding: 0;
  li:before {
    display: none;
  }
}

.dataTables_info {
  @extend .vh;
}

.tablepress-responsive-phone thead {
  background: $brand-blue;
  padding-bottom: .5em;
  @include breakpoint($bp-med) {
    background: transparent;
    padding-bottom: 0;
  }
}


// WooCommerce
.woocommerce-cart-form__contents tbody {
  vertical-align: top;
  td {
    padding: 1em;
  }
}
