p {
  color: $brand-black;
  margin: 0;
  margin-bottom: 1em;
}

.page-content {
  p,li,td {
    color: $brand-black;
    @include font-size(16);
    @include breakpoint($bp-large) {
      @include font-size(18);
    }
  }
}

hr {
  margin: 2em 0;
  border: 0 none;
  width: 100%;
  height: 2px;
  background-color: $brand-gray;
}

address {
  font-style: normal;
}

blockquote {
  border-radius: 8px;
  margin: 1em 0;
  padding: 2em;

  p {
    margin: 0;
    font-size: 1.25em;
    font-style: italic;

    + p {
      margin-top: 1em;
    }
  }
}

cite {
  display: block;
  margin-top: .5em;
  font-size: .8em;
  line-height: 1.2;
  font-style: normal;

  &::before {
    content: '\2013\2002';
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
}



/**
 * Inline Els
 */

a {
  color: $link-color;
  text-decoration: underline;
  transition: all 500ms;

  &:hover,
  &:focus {
    color: $link-color--hover;
    text-decoration: none;
  }
}
