.banner {
  position: relative;
  //padding: 2em 0;
  width: 100%;
  background-color: $brand-gray;
  background-image: url(../img/dist/branding/bg-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  @include breakpoint($bp-small) {
    padding: 0;
  }

  .wrap {
    padding: 0;
    @include breakpoint($bp-med) {
      padding: 0 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

}

.banner-title {
  position: relative;
  padding: 2em 0;
  z-index: 10;

  @include breakpoint($bp-med) {
    //padding: 5.9375em 0;
    padding: 0;
    width: 50%;
  }

  .h1 {
    @include font-size(21);
    margin: 0;
    display: block;
    color: $brand-blue;
    font-family: $font-heading;
    font-weight: 600;
    text-align: center;

    @include breakpoint($bp-med) {
      @include font-size(32);
      text-align: right;
    }

    @include breakpoint($bp-large) {
      @include font-size(35);
    }

    @include breakpoint($bp-xl) {
      @include font-size(38);
    }

  }
}

.banner-image {
  display: block;
  margin: 0;
  width: 100%;
  @include breakpoint($bp-med) {
    width: 50%;
  }
}

// .banner-image {
//   @include block-fit-cover( 100em );
//   opacity: .3;
// }
