
/**
 * Template Layout - Parallax
 */

.photo-block-layout {
  position: relative;
  //height: 20em;
  background-color: $bkg-med-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  text-align: center;

  @include breakpoint($bp-med) {
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include breakpoint($bp-large) {
    height: 25em;
  }

  @include breakpoint($bp-xl) {
    height: 30em;
  }

  &__inner {
    padding: 3em;
    @include breakpoint($bp-med) {
      padding: 0;
      max-width: 600px;
      margin: 0 auto;
    }
    @include breakpoint($bp-large) {
      max-width: 700px;
    }
    @include breakpoint($bp-xl) {
      max-width: 785px;
    }
  }

  p {
    color: #fff;
    @include font-size(20);
    @include breakpoint($bp-large) {
      @include font-size(22);
    }
  }

}

.photo-block-layout--parallax {
  background-attachment: fixed;
}
