/**
 * Button Block
 */

.button-block-layout {
  position: relative;

  .wrap {
    position: relative;
    z-index: 10;
  }
}

.button-block-layout-bkg {
  @include block-fit-cover( 100em );
  opacity: .3;
}

.button-block {
  margin: -.5em 0;
  text-align: center;

  @include breakpoint($bp-med) {
    margin: 0 -2em;
  }

  .flexbox & {
    @include breakpoint($bp-med) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .callout-header,
  .callout-body {
    padding: .5em 0;

    @include breakpoint($bp-med) {
      padding: 0 2em;
    }
  }

  .callout-header {

    h2 {
      .flexbox & {
        margin: 0;
      }
    }
  }
}

.button-block .callout-body .button-callout-content.membership-callouts a:last-child {
  margin-left: 1em;
}

.button-callout-content {
  width: 100%;

  .flexbox & {
    @include breakpoint($bp-large) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  p {
    margin: 0 0 1em 0;
    font-size: 1.1875em;
    line-height: 1.2;

    .flexbox & {
      @include breakpoint($bp-large) {
        flex: 1 0 0;
        margin: 0;
        padding-right: 1em;
      }
    }
  }
}
