.block-testimonial {
  margin: 2em 0;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  blockquote {
    padding: 2em;
    margin: 0;
    width: 65%;
  }
  .testimonial-text,
  .testimonial-author,
  .testimonial-role {
    display: block;
  }

  .testimonial-text {
    font-weight: 900;
    @include font-size(28);
    margin-bottom: .5em;
  }

  .testimonial-author {
    @include font-size(18);
    font-weight: 600;
    &:before {
      content: '-';
      display: inline-block;
      margin-right: .25em;
    }
  }

  .testimonial-role {
    @include font-size(18);
    font-style: italic;
  }

  .testimonial-image {
    width: 35%;
    img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0;
      border-radius: 0 25px 25px 0;
    }
  }
}
