
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 52.4375em;
  height: 80vh;
  min-height: 38em;
  max-height: 52.4375em;
  overflow: hidden;

  &.background-image {
    background-color: $color-grey--dark;
  }

  .wrap {
    position: relative;
    max-width: 39.625em;
    width: 100%;
    z-index: 10;

    @include breakpoint($bp-large) {
      max-width: 55.625em;
    }
  }
}

.hero-bkg-image {
  @include block-fit-cover( 100em );
  opacity: .3;
}

.hero-box {

}

.hero-content {
  text-align: center;

  h1 {
    color: #fff;

    @include breakpoint($bp-large) {
      font-size: 1.875em;
    }
  }

  p {
    color: #fff;
    font-size: 1.375em;
  }

  .button {
    
  }
}
