
/**
 * Template Layout - Full Width Col
 */

.fullwidth-layout {

}

.advanced-full-width {
  position: relative;
  overflow: hidden;

  .l-aside-col {
    display: none;

    @include breakpoint($bp-med) {
      display: block;
    }
  }

  .wrap {
    position: relative;
    z-index: 10;
  }
}

.fullwidth-layout-bkg {
  @include block-fit-cover( 100em );
  opacity: .3;
}
