
.owl-theme {

  .owl-nav {
    margin: 0;

    button.owl-next,
    button.owl-prev {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      padding: 0;
      color: #fff;
      line-height: 1;
      background-color: transparent;
      opacity: .5;
      transition: opacity 500ms;

      @include breakpoint($bp-med) {
        display: block;
      }

      &:hover,
      &:focus {
        background-color: transparent;
        opacity: 1;
      }

      &.disabled {
        &:hover,
        &:focus {
          opacity: .5;
        }
      }

      svg {
        display: block;
      }
    }

    button.owl-next {
      right: 1.5em;
    }

    button.owl-prev {
      left: 1.5em;
    }
  }

  .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 2em;
    transform: translateX(-50%);

    .owl-dot {
      span {
        width: 15px;
        height: 15px;
      }

      &.active span,
      &:hover span {
      }
    }
  }
}

/**
 * No js styling
 */

.owl-theme.owl-theme {
  display: block;

  // Display only the fist child before js is init'd
  > * {
    display: none;

    &:first-child {
      display: block;
      display: flex;
    }
  }
  
  // Display all children after js is init'd
  &.owl-loaded {
    > * {
      display: block;

      &:first-child {
        display: block;
        display: flex;
      }
    }

    .owl-nav.disabled,
    .owl-dots.disabled {
      display: none;
    }
  }
}
