#widget_wrapper_VWRLmPw83ESuzFuorMLaeTTE5Y86GnPU .widget_wrapper_title #widget_title {
  color: $brand-teal;
  font-weight: 700 !important;
  font-size: 1.375em !important;
  @include breakpoint($bp-med) {
    font-size: 1.5em !important;
  }
  @include breakpoint($bp-large) {
    font-size: 1.625em !important;
  }
  @include breakpoint($bp-xl) {
    font-size: 1.75em !important;
  }
}

#widget_wrapper_VWRLmPw83ESuzFuorMLaeTTE5Y86GnPU .jt_job_position {
  @include font-size(19);
}

#widget_wrapper_VWRLmPw83ESuzFuorMLaeTTE5Y86GnPU .primary {
  transition: all, 500ms;
  color: $brand-blue !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  border-radius: 25px !important;
}

#widget_wrapper_VWRLmPw83ESuzFuorMLaeTTE5Y86GnPU .jt_job_position a {
  color: $brand-blue !important;
  font-weight: bold !important;
}

#widget_wrapper_VWRLmPw83ESuzFuorMLaeTTE5Y86GnPU .jt_row2:hover,
#widget_wrapper_VWRLmPw83ESuzFuorMLaeTTE5Y86GnPU .jt_row1:hover {
  background: $brand-yellow !important;
}

#widget_inner_bottom {
  display: none !important;
}

.jt_job_list {
  max-height: 250px !important;
}
