
.l-two-thirds {
  @include clearfix;
  margin-left: -2em;

  @include breakpoint($bp-xl) {
    margin-left: -5.25em;
  }
}

.l-two-third-col {
  padding-left: 2em;

  @include breakpoint($bp-med) {
    float: left;
    width: 66.666%;
  }

  @include breakpoint($bp-xl) {
    padding-left: 5.25em;
  }

  .l-two-thirds--left & {
    @include breakpoint($bp-med) {
      float: right;
    }
  }
}

.l-one-third-col {
  padding-left: 2em;

  @include breakpoint($bp-med) {
    float: right;
    width: 33.333%;
  }

  @include breakpoint($bp-xl) {
    padding-left: 5.25em;
  }

  .l-two-thirds--left & {
    @include breakpoint($bp-med) {
      float: left;
    }
  }
}
