
/**
 * Column Layout
 */

.l-columns {
  @include clearfix;
  margin-top: -($column-gutter);
  margin-left: -($column-gutter);

  + .l-columns {
    padding-top: $column-gutter;
  }

  .flexbox & {
    display: flex;
    flex-wrap: wrap;
  }
}

.l-column-item {
  padding-top: $column-gutter;
  padding-left: $column-gutter;

  @include breakpoint($bp-med) {
    float: left;
  }

  .l-columns--2 & {
    @include breakpoint($bp-med) {
      width: 50%;
    }
  }

  .l-columns--3 & {
    @include breakpoint($bp-med) {
      width: 33.33%;
    }
  }

  .l-columns--4 & {
    @include breakpoint($bp-med) {
      width: 25%;
    }
  }

  .l-columns--5 & {
    @include breakpoint($bp-med) {
      width: 20%;
    }
  }

  .l-columns--6 & {
    @include breakpoint($bp-med) {
      width: 16.66%;
    }
  }
}
