.pspa-login-form {
  max-width: 600px;
  margin: 0 auto;

  #loginform a {
    display: none;
  }

  label,
  input[type='text'],
  input[type='password'] {
    display: block;
    width: 100%;
  }

  label {
    @include font-size(21);
    font-weight: bold;
    font-family: $font-heading;
    color: $brand-blue;
  }

  .login-remember label {
    @include font-size(16);
  }

  #forgotpassword {
    display: none;
  }

}

.woocommerce-ResetPassword {
  label,
  input[type='text'] {
    display: block;
    width: 100%;
  }

  label {
    @include font-size(21);
    font-weight: bold;
    font-family: $font-heading;
    color: $brand-blue;
  }

  .clear {
    clear: both;
  }

}
