.pspa-member-notice {
  border-radius: 5px;
  padding: 1em;
  background: $brand-teal;
  border: 2px solid darken($brand-teal, 15%);
  margin-bottom: 2em;

  h3 {
    margin: 0;
    color: #fff;
    font-weight: normal;

    strong {
      font-weight: bold;
    }

  }

  a {
    color: #fff;
  }

}
