.navigation--utility {
  padding: .15em 0;
  text-align: right;
  ul {
    line-height: 1;
  }
  li {
    + li {
      padding-left: .75em;
      border-left: 2px solid $brand-light-blue;
    }
  }

  a {
    padding: 0 .15em;
    @include font-size(13);
    color: $brand-blue;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    @include breakpoint($bp-large) {
      @include font-size(15);
    }
    @include breakpoint($bp-xl) {
      @include font-size(17);
    }
    &:hover,
    &:focus {
      color: $brand-teal;
    }
  }

  .current-menu-item,
  .current-menu-ancestor,
  .current-page-ancestor {
    > a {
      color: $brand-teal;
    }
  }

  .sub-menu {
    display: none;
  }

  + .js-aria-hover-overlay {
    display: none;
    &.is-active {
      display: none;
    }
  }

}
