.header-main-navigation {
  background: $brand-blue;
}

.navigation--main {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 490;

  li {
    position: relative;
  }

  > .nav-list {
    display: flex;
    //align-items: center;
    justify-content: space-between;
    min-height: 100%;
    > li {
      margin: 0;
      width: 14.2857%;
      border-left: 2px solid $brand-light-blue-alt;

      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }

      &:last-child {
        border-right: 2px solid $brand-light-blue-alt;
      }
    }
  }

  a {
    display: block;
    padding: .85em .75em;
    color: #fff;
    font-family: $font-base;
    @include font-size(12);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    transition: all, 500ms;
    @include breakpoint($bp-large) {
      @include font-size(16);
    }

    @include breakpoint($bp-xl) {
      @include font-size(20);
    }

    &:hover,
    &:focus {
      background: $brand-dark-blue;
      color: #fff;
      text-decoration: none;
    }
  }

  li.members-only a {
    background: $brand-teal;
  }

  // > ul {
  //   > li {
  //     + li {
  //       margin-left: 1.5em;
  //     }
  //   }
  // }

  .current-menu-item,
  .current-menu-ancestor,
  .current-page-ancestor {
    background: $brand-dark-blue;
    > a {
      color: $brand-yellow;
    }
  }

  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 100%;
    margin: 0;
    padding: .5em 1.4375em;
    min-width: 15em;
    text-align: left;
    z-index: 510;
    opacity: 0;
    background: $brand-dark-blue;
    background: rgba(0,73,144,.98);
    transition: opacity 100ms linear;


    li {
      display: block;
      margin: 0;
      border-top: 2px solid $brand-light-blue-alt;
      &:first-child {
        border-top: 0;
      }
    }

    a {
      padding: .5em 0;
      font-size: 1em;
      &:hover {
        background: transparent;
        color: $brand-yellow;
      }
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        opacity: 1;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .sub-menu li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
      }
    }
  }
}
