.sidebar-nav {
  background: $brand-yellow;
  border-radius: 5px;
  padding: .4em 0;
  ul {
    @include list-reset;
  }



  > ul > li {
    display: block;
    margin: 0;
    // border-bottom: 2px solid #fff;
    // border-bottom: 2px solid rgba(255,255,255,.5);

    &:last-child {
      border-bottom: 0;
    }

    line-height: 140%;

  }

  > ul > li > a {
    @include font-size(16);
    padding: .35em 1em 0;
    position: relative;
    &:after {
      display: block;
      margin: .35em auto 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #fff;
      background: rgba(255,255,255,.5);
    }

    @include breakpoint($bp-large) {
      @include font-size(18);
    }

    @include breakpoint($bp-xl) {
      @include font-size(19);
    }

  }

  > ul > li:last-child a:after {
    background: transparent;
  }

  a {
    display: block;
    color: $brand-blue;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 500ms, color 500ms;


  }

  .page_item_has_children > a {
    .sidebar-nav-text {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .button-arrow-icon-svg {
        height: 12px;
        width: 12px;
      }
    }
  }

  .page_item_has_children .button-arrow-icon-svg {
    //float: right;
    transform: rotate(90deg);
    display: block;
  }

  .page_item_has_children.current_page_item .button-arrow-icon-svg {
    transform: rotate(-90deg);
  }

  > ul > li.current_page_ancestor,
  > ul > li.current_page_item {
    > a {
      background: $brand-dark-yellow;
      &:after {
        background: $brand-dark-yellow;
      }
    }

  }


  .children {
    display: none;
    background: $brand-gray;
    padding: .125em 1.5em;

    li {
      margin-top: 0;
      border-bottom: 2px solid #fff;
      border-bottom: 2px solid rgba(255,255,255,.5);
      &:last-child {
        border-bottom: 0;
      }
    }

    a {
      padding: .35em 0;
      color: $brand-blue;
      @include font-size(14);

      @include breakpoint($bp-med) {
        @include font-size(15);
      }


      @include breakpoint($bp-med) {
        @include font-size(17);
      }

      &:hover {
        color: $brand-teal;
      }
    }

    li.current_page_item a {
      color: $brand-teal;
    }

  }



  .current_page_item,
  .current_page_ancestor,
  .current-menu-item,
  .current-menu-ancestor,
  .current-page-ancestor {
    > .children {
      display: block;
    }
  }
}

.sidebar-nav > ul > li ul.children .sidebar-nav-text .button--arrow {
  display: none;
}
