
.navigation--footer {
  text-align: center;

  @include breakpoint($bp-xl) {
    text-align: left;
  }

  .nav-list {
    line-height: 1;
  }

  .nav-list li {
    display: block;
    margin: 0 0 .65em 0;
    @include font-size(18);
    @include breakpoint($bp-med) {
      margin: 0;
      display: inline-block;
      @include font-size(14);
    }
    @include breakpoint($bp-large) {
      @include font-size(16);
    }
    @include breakpoint($bp-xl) {
      @include font-size(18);
    }
    + li {
      @include breakpoint($bp-med) {
        margin-left: .75em;
        padding-left: .75em;
        border-left: 1px solid $brand-light-blue;
      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    &:hover {
      color: $brand-yellow;
    }
  }

  .children {
    display: none !important;
  }

}
