

.mobile-nav-tray {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: $brand-dark-blue;
  overflow-y: scroll;
  transition: transform 350ms;

  @include breakpoint($bp-med) {
    display: none;
  }

  .admin-bar & {
    padding-top: 2.875em;
  }

  .show-nav & {
    transform: translateX( -100% );
    transform: translate3d( -100%, 0, 0 );

    @include breakpoint($bp-med) {
      transform: translateX( 0 );
      transform: translate3d( 0, 0, 0 );
    }
  }

  .header--buttons {
    text-align: center;
    justify-content: center;
    padding: 1.5em 0 .5em;
  }

}


.navigation--mobile {
  padding: 2em 0;
}

.mobile-nav-header {
  padding: 0 1em;
  text-align: right;

  a {
    display: inline-block;
    vertical-align: top;
  }
}

.mobile-nav {
  @include list-reset;

  + .mobile-nav {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #dedede;
  }

  ul {
    @include list-reset;
  }

  li {
    margin: 0;

    + li {}
  }

  a {
    display: block;
    padding: .25em;
    color: #fff;
    font-family: $font-heading;
    font-size: 1.625em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: color 500ms;

    &:hover,
    &:focus {
      color: lighten($heading-color, 15%);
    }
  }

  .sub-menu {
    display: none;

    a {
      font-size: 1.125em;
    }
  }
}

.mobile-nav--main {

}

.mobile-nav--utility {
  a {
    font-size: 1em;
  }
}


.mobile-nav--search {
  margin-top: 2em;
  padding: 0 1em;

  .search-bar {
    .search-submit {
      // border-color: $text-color;
      font-size: 1.1875em;
      color: #fff;
      background: $brand-teal;
      border-radius: 0 3px 3px 0;
      &:hover,
      &:focus {
        background: $brand-green;
        color: #fff;
        //border-color: $text-color;
      }
    }

    .search-field {
      border: 2px solid #fff;
      border-radius: 3px;
      font-size: 1.1875em;

      &:focus {
        border-color: $text-color;
      }
    }
  }
}
