div#wppb-msf-tabs {
 margin-bottom: 0 !important;
 border-bottom: 2px solid $brand-blue;
 input[type="button"].wppb-msf-tabs {
   transition: all, .5s;
   margin: 0 8px 0 0;
   text-transform: uppercase;
   font-weight: bold;
   background: $brand-blue;
   border-radius: 5px 5px 0 0;
   @include font-size(18);
   padding: .5em 1em;
   cursor: pointer;
   &:hover {
     background: lighten($brand-blue, 10%);
   }
   &.wppb-msf-active {
     background: $brand-yellow;
     color: $brand-blue;
     cursor: default;
   }
 }
}

form.wppb-edit-user > ul {
 padding: 2em;
 border-left: 2px solid $brand-blue;
 border-right: 2px solid $brand-blue;
 border-bottom: 2px solid $brand-blue;
 border-radius: 0 0 5px 5px;

 .wppb-msf-step-commands input[type="button"].wppb-msf-button {
   transition: all, .5s;
   background: $brand-blue;
   color: #fff;
   border-radius: 5px;
   text-transform: uppercase;
   font-weight: 700;
   cursor: pointer;
   &:hover {
     background: lighten($brand-blue, 10%);
   }
   &:disabled {
     cursor: not-allowed;
    }
  }

}
