/**
 * Variables
 */


/**
 * Fonts
 * ---
 */

$font-base:    'Source Sans Pro', sans-serif;
$font-heading: 'Source Sans Pro', sans-serif;
$font-logo: 'PT Serif', serif;


/**
 * Color Variables
 * ---
 * Main colors. Replace these with your own.
 */

// Main Colors
$color-grey--dark:    #5b676b;
$color-grey--med:     #899296;

// Secondary Colors
$color-grey--med-2:   #abb6bb;
$color-grey--light:   #f2eee9;

// Utility Colors
$color-red:           #ab2b2b;
$color-green:         #2bab2b;



/**
 * Theme Colors
 * ---
 * The theme colors define specific elements
 * of the template.
 */

 // Main Colors
 $brand-blue: #004990;
 $brand-yellow: #F8D051;
 $brand-teal: #17BF96;

 // Secondary colors
 $brand-light-blue: #81A1D0;
 $brand-light-blue-alt: #3d73b1;
 $brand-dark-blue: #033769;
 $brand-dark-yellow: #E2BA39;
 $brand-green: #0EAA84;
 $brand-gray: #D8E3F2;
 $brand-black: #1B1D1E;
 $brand-gray-alt: #E8EEF8;



/**
 * Typography Colors
 */

// Text Colors
$text-color:          $color-grey--dark;
$heading-color:       $color-grey--dark;

// Link Colors
$link-color:          $brand-blue;
$link-color--hover:   $brand-teal;

// Button Colors
$button-color:        $brand-yellow;
$button-color--hover: darken($button-color, 15%);

// List Colors
$ul-bullet-color:     $brand-teal;


/**
 * Block Colors
 */

// Background Colors
$bkg-light-grey:  $color-grey--light;
$bkg-med-grey:    $color-grey--med;
$bkg-dark-grey:   $color-grey--dark;

// Transparent Background Colors
$bkg-med-grey--transparent: rgba( $bkg-med-grey, 0.95 );

// Border Colors
$border-color:    $color-grey--light;


/**
 * Navigation Colors
 */

$nav-link-color:          $link-color;
$nav-link-color--hover:   darken($nav-link-color, 15%);
$nav-link-color--active:  darken($nav-link-color, 15%);


/**
 * UI Colors
 */

$ui-error:    $color-red;
$ui-success:  $color-green;



/**
 * Layout
 * ---
 */

// 1200px + 2em padding ($max-width-spacing)
$max-width:         77em;
// 1200px + 4em padding ($max-width-spacing--large)
$max-width--large:  79em;
// 932px + 2em padding ($max-width-spacing)
$max-width--small:  60.25em;

$max-width-spacing:         0 1em;
$max-width-spacing--large:  0 2em;

$padding:                   3em;
$padding-medium:            3em;
$padding-large:             4em;

$vertical-padding:          3em 0;
$vertical-padding-medium:   3em 0;
$vertical-padding-large:    4em 0;

$horizontal-padding:        0 3em;
$horizontal-padding-medium: 0 3em;
$horizontal-padding-large:  0 4em;

$column-gutter:             2em;
$grid-gutter:               2em;



/**
 * Design/Animation
 * ---
 */

/**
 * Block design elements
 */

$border-radius: 3px;
$box-shadow: 0 0.15em 0.15em rgba( 0, 0, 0, 0.12 );
$box-shadow--light: 0 0 0.3125em rgba( 255, 255, 255, .5 );

// // Transitions
// $transition:        all 1s;
// $transition-fast:   all .5s;
// $transition-faster: all .25s;
// $transition-slow:   all 2s;
// $transition-slower: all 2.5s;
